html{
    background-color: white;
    scroll-behavior: smooth;
}
*,
*:before,
*:after{
    box-sizing: inherits;
    margin: 0;
    font-family: 'Plus Jakarta Sans';
}

li{
    list-style: none;
    margin: 10px 0px 0 20px;
    margin: 0px 0px 0 25px;
}
link{
    display:initial ;
}
ul{
    display: flex;
}
span .bold{
    font-weight: 600;
}
.dark_text{
    color: #575E89;
}
.white_text{
    color: #ffffff;
}
a{
    color: #575E89;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    color: #575E89;
    gap: 50px;
}
a:hover{
    color: rgb(255, 131, 15);
}
p{
    font-size: 1.2em;
}
.subtitle{
    font-size:1.4em !important;
}

h1{
    font-style: normal;
    font-weight: 800;
    margin-bottom: 15px;
    font-size: 5em;
}
h2{
    margin-bottom: 15px !important;
    font-size: 2.5em;
}
h3{
    font-style: normal;
    font-weight: 100;
}
h1,h2{
    line-height: 1.2em !important;
}
span{
    font-style: normal;
    font-weight: 1000;
}
.icon{
    width: 100%;
}
@media (max-width: 824px){
    h1{
        font-size: 3.2em;
    }
    .Create_title h1 {
        font-size: 2.5em; 
    }
    p{
        font-size: 1em !important;
    }
    .subtitle{
        font-size: 1em !important;
    }
    .Footer_links span {
        font-size: 1em;
    }
    a{
        font-size: 0.8em;
    }
    .Footer_social{
        justify-content: center !important;
    }


}

/*Background*/

.contain_Background{
    z-index: -1;
    height: -webkit-fill-available;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.contain_Background div{
    width: 1720px;
    height: 1420px;
    background-size: contain;
    mix-blend-mode: darken;
}
.background{
    position: relative;
    width: auto;
    height: max-content;
    mix-blend-mode: darken;
}
.bgMain{
    position: absolute;
    top: -740px;
    height: 2203px !important;
    right: -1067px;
    width: 2459px !important;
    background-repeat: no-repeat;
}

.bgSolution{
    position: absolute;
    margin-top: -10px;
    width: 2762px !important;
    top: 530px;
}
.bgSolution2{
    position: absolute;
    margin-top: -10px;
    width: 2762px !important;
    top: 2762px;
}
.bgCreate{
    position: absolute;
    top: 1647px;
    width: 2713px !important;
    height: 2010px !important;
}

.bgCreate1{
    position: absolute;
    top: 1286px;
    height: 890px !important;
}
.bgCreate2{
    position: absolute;
    top: 2302px;
    width: 1774px !important;
    height: 842px !important;
}
.dis{
    display: none;
}

@media all and (max-width: 824px){
    .CardRes_title{
        font-size: 2em; 
       }


    .dis{
        display: block;
    }

    .bgSolution2{
        transform: rotate(90deg);
    }
    .bgSolution3{
        position: absolute;
        margin-top: -10px;
        width: 2762px !important;
        top: 3200px;
        transform: rotate(90deg);
    }
    .bgSolution{
        top: 400px;
    }
    .bgCreate{

        width: 2220px !important;
        height: 1900px !important;
    }
}

/*NavBar*/
.NavBar-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0 1rem 0;
    width: 100%;
}
.NavBar-logo{
    width: 250px;
    height: 56px;
    background-image: url(../images/logoInfinix.svg);
    background-size: cover;
    background-position: center;
}

 /*boton escondido*/
[aria-controls='menu-list']{
    display: none;
}
.menu{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
}
.NavBar-list{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-right: 75px;
}
.menu-list{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
}
.menu svg{
    height: 1.5em;
    color: #FAFBFB;
}
.menu svg:hover{
    height: 1.5em;
    color: rgb(255, 131, 15);
}
.menu svg > path{
    filter: drop-shadow(0px 0px 30px rgba(47, 47, 47, 0.22));
}
.NavBar-contain{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    align-items: center;
    position: relative;
}

.Titulo span{
    color: white !important;
}
/*Media Navbar*/

@media all and (max-width: 824px){
    .menu-list{
        display: none;
        flex-direction: column;
        align-items: flex-start;
    }
    .NavBar-list{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 30px 0px 30px 0px;
        background-color: white;
        position: fixed;
        top: 50px;
        width: 90%;
    }
    .NavBar-logo{
        width: 13rem;
    }


    .NavBar-header{
        padding: 0;
        padding: 10px 24px 0 0;

    }
    .NavBar-logo{
        width: 13rem;
        top: 10px;
    }

    /*boton escondido*/
    [aria-controls='menu-list']{
        display: flex;
    }
    .close{
        display: none;
    }
}


/*MAIN*/
.Main{
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
    width: 95%;
    height: fit-content;
    /* padding: 1rem 0 1rem 0; */
}
.images{
    width: 70px;
    padding-top: 25px;
}


.Titulo h1{
    color: rgb(255, 255, 255);
}

.Composition{
    width: 82%;
    height: 100%;
    min-height: 5%;
    display: flex;
    justify-content: flex-end;
    position: relative;

}
/*COMPOSITION*/
.Composition img{
    position: absolute;
}
.estatua{
    width: 64% !important;
    top: -13%;
    left: 53%;
    animation: float 6s ease-in-out infinite !important;
}
.estatua2{
    top: 73%;
    left: 0%;
    position: absolute;
    width: 100%;
    z-index: -1;
    animation: float2 6s ease-in-out infinite;
}
.estat{
    position: relative;
    display: flex;
    max-width: 1200px;
    width: 100%;
}
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
@keyframes float2 {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-100px);
	}
	100% {
		transform: translatey(0px);
	}
}
.fondo{
    width: 45% !important;
}

.marmol4{
    width: 30% !important;
    top: -5%;
    left: 66%;
}
.circulo{
    width: 35% !important;
    top: 59%;
    left: 40%;
}
.marmol3{
    width: 22% !important;
    top: 58%;
    left: 73%;
}
.marmol2{
    width: 23% !important;
    top: 0%;
    left: 38%;
}
.marmol1{
    width: 13% !important;
    top: 38%;
    left: 45%;
}
.star{
    color: red;
    padding: 0 3px 0 3px;
}

.Service{
    transform: rotate(90deg);
    width: 12%;
}
.pService{
    font-size: 1em;
}
.containService{
    width: 809px;
    height: 138px;
    margin-top: -40px;
}
.containService h2{
    color: #575e8978;
}



@media screen  and (max-width: 1179px){

    .Tiutlo{
        width: 23%;
    }

}
@media all and (max-width: 824px){
    .Main{
        width: 94%;
        display: flex;
        justify-content: flex-end;
    } 

    .Composition{
        position: absolute;
        margin-left: 57px;
        height: 5%;
    }
    .Service{
        display: none;
    }
    .Titulo {
        width: 45% !important;
    }
    .Titulo h1{
        margin-top: 0px;
        position: relative;
    }

    .Titulo span{
    }
}


/*SOLUTION*/
.Solutions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: 60px;
    padding: 10rem 0 3rem 0;
    margin-top: 50px;
}

.Solutions h3{
    text-align: center;
}
.Solutions h1{
    color: rgb(255, 255, 255);
    text-align: center;
}

/*CARD*/
.Solutions_cards{
    gap: 50px;
    width: 100%;
    height: auto;    
    display: flex;
    flex-direction: row;
    align-items: flex-start;   
    justify-content: center;

}
.Solutions_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    max-width: 19em;
    min-width: 280px;
    padding: 25px 25px 0 25px;
    gap: 20px;
    cursor: pointer;
    height: fit-content;
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border-radius: 46.97px;
    background: linear-gradient(0deg, rgba(196,135,166,0) 0%, rgba(255, 206, 160, 0.2) 100%);
    outline: thick solid rgb(255 255 255 / 33%);
}
.Solutions_card:hover{
    background: linear-gradient(29deg, rgba(196,135,166,0) 0%, rgba(251,135,25,0.2) 100%);
}
.Solutions_Contain{
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    padding-bottom: 150px;
}
/* .Solutions_card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 25px 30px 0 30px;
    gap:30px;
    width: 28%;
    height: auto;
    min-width: 240px;
    backdrop-filter: blur(3.5px);    
    border-radius: 46.97px;
    background: rgba(255, 255, 255, 0.2);
    border: 4px solid rgba(255, 255, 255, 0.33);
    filter: drop-shadow(0px 0px 30px rgba(47, 47, 47, 0.22));
    overflow: hidden;
    cursor: pointer;
} */



.Solutions_card h3{
    text-align: left !important;
    font-style: normal;
    font-weight: 100;
    padding-left: 10px;
    padding-bottom: 140px;
}
.Solutions_card h2{
    margin-block-end: 0;
    margin-block-start: 0;
}
.Solutions_title{
    text-align:center;
}
.Solutions_title span{
    color: white !important;
}
.mobile{
    position: absolute;
    width: 80%;
    top: 25px;
    top: 241px;
}
@media all and (max-width: 1348px){
    .Solutions_cards{
        flex-wrap: wrap;
    }
}
@media all and (max-width: 824px){
    .Solutions_title h1{
    }
    .Solutions_title h3 {
        top: -36px;
    }
    .Solutions_title span {
    }
    .Solutions{
        margin-top: 0px;
    }
}
/*CREATE*/

.Create{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200%;
    margin-top: -150px;
    padding-bottom: 150px;
    height: auto;
    overflow: hidden;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%);
}

.CreateBackground{
    filter: blur(190px);
    height: auto;
    position: absolute;
    z-index: -1;
}
.Roadmap{
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin-top: -700px;
}
.Create_title{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 250px;
    text-align: center;
}

.line{
    margin-top: 100px;
}
.line1{
   /*margin-top: 280px;*/ 
    display: none;
}
.line2{
    margin-top: 100px;
    display: none;
}
.line3{
    margin-top: 100px;
    display: none;
}
@media all and (max-width: 1348px){
    .line{
        display: none;
    }
    .line1{
        margin-top: 280px;
        display: block;
     }
     .Roadmap{
        margin-top: -604px;
    }
}
@media all and (max-width: 1275px){
    .line1{
        display: none;
    }
    .line2{
        display: block;
    }
    .Roadmap{
        margin-top: -1000px;
    }

    .Create_title{
        top: 300px;
    }
    .Create_title h1{

    }
}
@media all and (max-width: 836px){

    .line2{
        display: none;
    }
    .line3{
        display: block;
    }
    .Roadmap{
        flex-direction: column;
        margin-top: -2656px;
    }

    .Create_title h1{

    }
}
/*CARD RESPONSIVE*/
.CardRes{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 25px  30px;
    max-width: 500px;
    width: auto;
    height: fit-content;
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border-radius: 46.97px;
    background: rgba(255, 255, 255, 0.2);
    border: 4px solid rgba(255, 255, 255, 0.33);
    filter: drop-shadow(0px 0px 30px rgba(47, 47, 47, 0.22));
    cursor: pointer;
}
.CardRes:hover{
    background: rgb(197 197 197 / 20%);
}
.CardRes_title{
    font-weight: 800;
    margin-block-start: 0px;
    color: #FAFBFB;
    margin-block-end: 0 !important;
    margin-bottom: 24px !important;
}

.CardRes h3{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 100;
}

@media all and (max-width: 1348px){
    .CardRes{
        top: 0px !important ;
        max-width: 300px;
    }
}
@media all and (max-width: 1275px){
    .CardRes{
        max-width: 700px;
    }
}
@media all and (max-width: 836px){
    .CardRes{
        top: 0px !important ;
        max-width: 300px;
    }

}


/*Partners*/
.Partners{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 85%;
    height: auto;
    gap: 4rem;

}
.Partners_title{
    display: flex;
    width: 92%;
    flex-direction: column;
    justify-content: flex-end;
}

.Partners h1{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    color: #575E89;
    margin-block-end: 0;
}
.Partners h3, span{
    color: #575E89 !important;
    text-align: initial;
}
.Partners_logos{
    display: flex;
    width: 50%;
    height: auto;
    flex-direction: Column;
}

.logos{
    display: flex;
    flex-direction: row;
    gap: 26px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logos img{
    width: 70.47px;
}

@media all and (max-width: 1014px){
    .Partners{
        flex-direction: column;
        align-items: center;
    }
    .Partners_title{
        align-items: center;    
    }
    .Partners_logos{
        align-items: center;
    }
    .Partners h3{
        text-align: center;
    }
}
@media all and (max-width: 836px){

    .Partners h1{
    }
    .Partners h3{
    }
    .Partners span{
    }
    .logos img {
        width: 52px;
    }
}

/*SPEAK*/
.Speak{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Speak_title{
    display: flex;
    flex-direction: column;
    margin-top: 250px;
}
.click {
    display: flex;
    padding-left: 3px;
}
.Speak_title h1{
    color: #575e89 !important;
}
.Speak_title h1:hover{
    color:rgb(255, 131, 15) !important;
}
.Speak_p{
    text-align: center;
}
     
.Speak_background{
    display: flex;
    position: absolute;
    text-align: center;
    flex-direction: column;
    align-items:center;
    mix-blend-mode: normal !important;
    z-index: -1;
}
.Speak_background svg{
    height: 1637px;
    position: absolute;
    transform: rotate(180deg);
    top: -902px;
}

.Speak_background path{
    fill: white;
    /*    filter: drop-shadow(-18px 35px 40px rgb(0 0 0 / 0.2));*/
}
.bgSolution3 {
    top: 3827px;
    position: absolute;
    display: none;
}
@media all and (max-width: 1348px){

}

@media all and (max-width: 1275px){
    .bgSolution3 {
        display: block;
    }
}

@media all and (max-width: 1014px){

}
@media all and (max-width: 836px){

}
@media all and (max-width: 824px){

    .Speak_title h1{
    }
}
@media all and (max-width: 686px){

    .bgSolution3 {
        top: 3827px;
    }
}
@media all and (max-width: 665px){

}
/*Footer*/
.Footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    gap: 78px;
    width: 100%;
    padding-top: 67px;
    background-color: white;
    
    margin-top: 131px;
}
.links{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.Footer_links{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.Footer_link1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
}

.Footer_link2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
}

.footerBold{
    font-weight: 800;
}

.Footer_social{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: 30px;
    padding-top: 10px;
    padding-right: 10px;
}
.copy{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 10px;
}


.open{
    width: 20px;
    filter: invert(1);
    color: #575E89;
}
.open:hover{
    color: #0419a2;
}
.close {
    font-weight: 900;
    fill: #575E89;
}
.close:hover{
    color: #0419a2;
}
.menu button{
    background: #ffffff00;
    border: none;
}
.socialIcon{
    width: 30px;
}
.load{
    width: 100%;
    height: 100% ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconLoading{
    width: 5%;
    margin: auto;
    position: absolute;
    margin-top: 11px;
}

.copy h3{
    color: #575E89;
}
@media all and (max-width: 1275px){
    .links{
        flex-direction: column;
        align-items: flex-start;
    }

    .Footer_social  img{
        width: 30px ;
        justify-content: space-between;
        padding-top: 40px;
    }
}
@media all and (max-width: 1014px){
    .Footer_links{
        flex-direction: column !important;
        margin-left: 50px;
        gap: 15px;
    }
}
@media all and (max-width: 836px){
    .Footer{
        margin-top: 100px;
    }
    .links{
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }
    .iconLoading{
        width: 15%;
        margin: auto;
        position: absolute;
        margin-top: 11px;
    }
}
.Footer_social a{
    font-size: 1.5em;
}
/*Scroll*/
body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(255, 131, 15);;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
  }
